{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <style>
        footer {
            position: fixed !important;
            left: 0 !important;
            bottom: 0 !important;
            width: 100% !important;
            text-align: center !important;
        }
    </style>
    <section class="md-section" style="background-color:#f7f7f7;">
        <div class="container">

            <div class="row">

                <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>


            </div>

        </div>
    </section>
    <!-- End / Section -->

{% endblock fos_user_content %}
