{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <style>
        footer {
            position: fixed !important;
            left: 0 !important;
            bottom: 0 !important;
            width: 100% !important;
            text-align: center !important;
        }
    </style>

    <section class="md-section" style="background-color:#f7f7f7;">
        <div class="container">

            <div class="row">
                <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock fos_user_content %}
