{% extends 'base.html.twig' %}
{% block body %}
<!-- Content-->
<div class="md-content">
    <div class="consult-postDetail">
        <div class="image-full"><img src="{{ asset(blog_images ~ blog.image) }}" alt=""></div>
        <div class="consult-postDetail"></div>
        <div class="container">
            <div class="consult-postDetail__main">

                <!-- social-01 -->
                {#<div class="social-01 social-01__style-02">#}
                    {#<nav class="social-01__navSocial"><a class="social-01__item" href="#"><i class="fa fa-facebook"></i></a><a class="social-01__item" href="#"><i class="fa fa-skype"></i></a><a class="social-01__item" href="#"><i class="fa fa-twitter"></i></a><a class="social-01__item" href="#"><i class="fa fa-instagram"></i></a>#}
                    {#</nav>#}
                {#</div>#}
                <!-- End / social-01 -->

                <div class="row">
                    <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
                        <div class="consult-postDetail__content">
                            <div class="row">
                                <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                                    <h1>{{ blog.title }}</h1>
                                    {#<ul class="consult-postDetail__meta">#}
                                        {#<li><i class="fa fa-user" aria-hidden="true"></i> Admin</li>#}
                                        {#<li><i class="fa fa-tags" aria-hidden="true"></i>Services    </li>#}
                                        {#<li><i class="fa fa-comments-o" aria-hidden="true"></i>Comment</li>#}
                                        {#<li><i class="fa fa-calendar-o" aria-hidden="true"></i>June 25th, 2017</li>#}
                                    {#</ul>#}
                                    <p class="text">{{ blog.content | raw }}</p>
                                </div>
                            </div>
                            {#<div class="image-full"><img src="assets/img/blogs/detail/2.jpg" alt=""></div>#}
                            {#<div class="row">#}
                                {#<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">#}
                                    {#<p class="text">Maecenas lorem ex, euismod eget pulvinar non, facilisis ut leo. Quisque placerat purus in neque efficitur ornare. Nam at justo magna. Aliquam venenatis odio ante, non euismod augue porttitor eget. Maecenas nec viverra eros, eget euismod felis. Integer cursus libero sed lorem euismod, vel iaculis felis placerat. Pellentesque augue lacus, sodales et eros sed, molestie rhoncus ligula. Vivamus sed massa lorem. Suspendisse mollis lectus nec ex fermentum, in consectetur dolor egestas. Phasellus quis ipsum quis nisl ultricies sollicitudin id in dolor. Proin at consequat dui.</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="row">#}
                                {#<div class="col-lg-6 ">#}
                                    {#<div class="image-full"><img src="assets/img/blogs/detail/4.jpg" alt=""></div>#}
                                {#</div>#}
                                {#<div class="col-lg-6 ">#}
                                    {#<div class="image-full"><img src="assets/img/blogs/detail/3.jpg" alt=""></div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="row">#}
                                {#<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">#}
                                    {#<p class="text">Sed ante nisl, fermentum et facilisis in, maximus sed ipsum. Cras hendrerit feugiat eros, ut fringilla nunc finibus sed. Quisque vitae dictum augue, vitae pretium sem. Proin tristique lobortis mauris nec mollis. Mauris id nibh sem. Vivamus ac ligula ac erat ultricies cursus semper ac enim. Aenean ac</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<blockquote>#}
                                {#<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>#}
                            {#</blockquote>#}
                            {#<div class="row">#}
                                {#<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">#}
                                    {#<p class="text">Suspendisse ac elit vitae est lacinia interdum eu sit amet mauris. Phasellus aliquam nisi sit amet libero mattis ornare. In varius nunc vel suscipit rhoncus. Nunc hendrerit nisl nec orci eleifend accumsan. Mauris nulla mi, egestas ac maximus ac, ultricies non tellus. Vestibulum varius purus nunc. Cr</p>#}
                                {#</div>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>
                {#<div class="row">#}
                    {#<div class="col-lg-8 col-xl-6 offset-0 offset-sm-0 offset-md-0 offset-lg-2 offset-xl-3 ">#}
                        {#<h4 class="comment-heading">Comment <span>(2)</span></h4>#}
                        {#<ol class="comment-list">#}
                            {#<li class="comment parent">#}
                                {#<div class="comment-content">#}
                                    {#<div class="comment-avatar">#}
                                        {#<img alt="" src="assets/img/avatars/avatar-01.jpg" class="avatar photo">#}
                                    {#</div><!-- .comment-avatar -->#}

                                    {#<div class="comment-body">#}
                                        {#<div class="comment-metadata">#}
                                            {#<a href="#">#}
                                                {#<time datetime="2016-12-30T08:18:37+00:00">May 04, 2017</time>#}
                                            {#</a>#}
                                        {#</div><!-- .comment-metadata -->#}

                                        {#<span class="fn">John Doe</span>#}

                                        {#<div class="comment-text">#}
                                            {#<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisc</p>#}
                                        {#</div>#}

                                        {#<div class="comment-button">#}
                                            {#<a href="#" class="like">like</a>#}
                                            {#<a href="#" class="reply">reply</a>#}
                                        {#</div>#}
                                    {#</div><!-- .comment-body -->#}
                                {#</div><!-- .comment-content -->#}

                                {#<ol class="children">#}
                                    {#<li class="comment">#}
                                        {#<div class="comment-content">#}
                                            {#<div class="comment-avatar">#}
                                                {#<img alt="" src="assets/img/avatars/avatar-02.jpg" class="avatar photo">#}
                                            {#</div><!-- .comment-avatar -->#}

                                            {#<div class="comment-body">#}
                                                {#<div class="comment-metadata">#}
                                                    {#<a href="#">#}
                                                        {#<time datetime="2016-12-30T08:18:37+00:00">May 04, 2017</time>#}
                                                    {#</a>#}
                                                {#</div><!-- .comment-metadata -->#}

                                                {#<span class="fn">John Doe</span>#}

                                                {#<div class="comment-text">#}
                                                    {#<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>#}
                                                {#</div>#}

                                                {#<div class="comment-button">#}
                                                    {#<a href="#" class="like">like</a>#}
                                                    {#<a href="#" class="reply">reply</a>#}
                                                {#</div>#}
                                            {#</div><!-- .comment-body -->#}

                                        {#</div><!-- .comment-content -->#}
                                    {#</li>#}
                                {#</ol>#}
                            {#</li>#}

                            {#<li class="comment">#}
                                {#<div class="comment-content">#}
                                    {#<div class="comment-avatar">#}
                                        {#<img alt="" src="assets/img/avatars/avatar-01.jpg" class="avatar photo">#}
                                    {#</div><!-- .comment-avatar -->#}

                                    {#<div class="comment-body">#}
                                        {#<div class="comment-metadata">#}
                                            {#<a href="#">#}
                                                {#<time datetime="2016-12-30T08:18:37+00:00">May 04, 2017</time>#}
                                            {#</a>#}
                                        {#</div><!-- .comment-metadata -->#}

                                        {#<span class="fn">John Doe</span>#}

                                        {#<div class="comment-text">#}
                                            {#<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisc</p>#}
                                        {#</div>#}

                                        {#<div class="comment-button">#}
                                            {#<a href="#" class="like">like</a>#}
                                            {#<a href="#" class="reply">reply</a>#}
                                        {#</div>#}
                                    {#</div><!-- .comment-body -->#}
                                {#</div><!-- .comment-content -->#}
                            {#</li>#}
                        {#</ol>#}

                        {#<!-- form-01 -->#}
                        {#<div class="form-01 form-01__style-02">#}
                            {#<h2 class="form-01__title">Leave A Comment</h2>#}
                            {#<form class="form-01__form">#}
                                {#<div class="form__item form__item--02">#}
                                    {#<input type="text" name="name" placeholder="Your name"/>#}
                                {#</div>#}
                                {#<div class="form__item form__item--02">#}
                                    {#<input type="email" name="phone" placeholder="Your Email"/>#}
                                {#</div>#}
                                {#<div class="form__item">#}
                                    {#<textarea rows="3" name="Your comment" placeholder="Your comment"></textarea>#}
                                {#</div>#}
                                {#<div class="form__button"><a class="btn btn-primary btn-w180" href="#">Post comment</a>#}
                                {#</div>#}
                            {#</form>#}
                        {#</div><!-- End / form-01 -->#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
    <!-- Related Posts-->

    <!-- Section -->
    {#<section class="md-section">#}
        {#<div class="container">#}

            {#<!-- title-01 -->#}
            {#<div class="title-01">#}
                {#<h2 class="title-01__title">Related Posts</h2>#}
            {#</div><!-- End / title-01 -->#}


            {#<!-- carousel__element owl-carousel -->#}
            {#<div class="carousel__element owl-carousel" data-options='{"loop":false,"dots":false,"nav":false,"margin":30,"responsive":{"0":{"items":1},"768":{"items":2},"992":{"items":3}}}'>#}

                {#<!--  -->#}
                {#<div>#}
                    {#<div class="post-01__media"><a href="#"><img src="assets/img/blogs/related-1.jpg" alt=""/></a>#}
                    {#</div>#}
                    {#<div>#}
                        {#<ul class="post-01__categories">#}
                            {#<li><a href="#">Business</a></li>#}
                        {#</ul>#}
                        {#<h2 class="post-01__title"><a href="#">How to Create and Manage SVG Sprites</a></h2>#}
                        {#<div class="post-01__time">Aug 14, 2017</div>#}
                        {#<div class="post-01__note">by Raymond Mendoza</div>#}
                    {#</div>#}
                {#</div><!-- End /  -->#}


                {#<!--  -->#}
                {#<div>#}
                    {#<div class="post-01__media"><a href="#"><img src="assets/img/blogs/related-2.jpg" alt=""/></a>#}
                    {#</div>#}
                    {#<div>#}
                        {#<ul class="post-01__categories">#}
                            {#<li><a href="#">Business</a></li>#}
                        {#</ul>#}
                        {#<h2 class="post-01__title"><a href="#">Best National Locations</a></h2>#}
                        {#<div class="post-01__time">Aug 14, 2017</div>#}
                        {#<div class="post-01__note">by Alice Brooks</div>#}
                    {#</div>#}
                {#</div><!-- End /  -->#}


                {#<!--  -->#}
                {#<div>#}
                    {#<div class="post-01__media"><a href="#"><img src="assets/img/blogs/related-3.jpg" alt=""/></a>#}
                    {#</div>#}
                    {#<div>#}
                        {#<ul class="post-01__categories">#}
                            {#<li><a href="#">Business Law</a></li>#}
                        {#</ul>#}
                        {#<h2 class="post-01__title"><a href="#">Is UX Really That Important?</a></h2>#}
                        {#<div class="post-01__time">Aug 14, 2017</div>#}
                        {#<div class="post-01__note">by Jose Snyder</div>#}
                    {#</div>#}
                {#</div><!-- End /  -->#}

            {#</div><!-- End / carousel__element owl-carousel -->#}

        {#</div>#}
    {#</section>#}
    <!-- End / Section -->

</div>
<!-- End / Content-->
{% endblock %}

{% block stylesheets %}

{% endblock %}