{% trans_default_domain 'FOSUserBundle' %}

<div class="container">

    <div class="consult-form consult-form--02 js-consult-form__content">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div>
                <label for="username">Podaj login lub adres e-mail</label>
                <input type="text" id="username" name="username" required="required" />
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Resetuj hasło" />
            </div>
        </form>
    </div>
</div>
