{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content-->
    <div class="md-content">

        <section class="md-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-0 offset-sm-0 offset-md-0 offset-lg-1 ">

                        <!-- title-01 -->
                        <div class="title-01 title-01__style-04">
                            <h2 class="title-01__title">Praktyka - Umowy</h2>
                            <div>{{ description.content }}</div>
                        </div><!-- End / title-01 -->

                    </div>
                </div>

                <div class="row">
                    {% for file in files %}
                        <div class="col-md-6 col-lg-3 ">

                            <div class="iconbox iconbox__style-03">
                                <div class="iconbox__icon"><i class="ti-file"></i></div>
                                <div>
                                    <h2 class="iconbox__title"><a target="_blank" href="{{ path('download_file', {name: file.file}) }}"><i class="fa fa-download"></i></a></h2>
                                    <div class="">{{ file.description }}</div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>

            </div>
        </section>

    </div>
    <!-- End / Content-->



    <div id="test-popup" class="white-popup mfp-hide">
        <div id="lawbookContent"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
