{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content-->
    <div class="md-content">

        <!-- Section -->
        <section class="md-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">

                    </div>
                </div>
            </div>
        </section>
        <!-- End / Section -->

    </div>
    <!-- End / Content-->



    <div id="test-popup" class="white-popup mfp-hide">
        <div id="lawbookContent"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
